:root{
    --white-color:white;
    --black-color:black;
    --dark-gray:rgb(31, 31, 31);
    --midddle-gray:rgb(95, 95, 95);
    --gray:rgb(199, 199, 199);
    --light-gray:rgb(232, 232, 232);
    --blue:rgb(0, 106, 255);
    --max-width:100%;
    --scale:1.2;
    --h6:0.8rem*var(--h);
    --h6:0.8rem*var(--scale);
    --p:0.8rem;

}